<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html"> Medicine</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/authors-list.html"> Surgery</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/authors-list.html"> Specialty</a>
    </li>

<!-- Contact form disabled
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
-->
<!-- ** Buy me a coffee deactivated**
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">Buy me a coffee <i class="fa fa-coffee text-danger"></i></a>
</li>
-->